body {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.page {
  width: 1200px;
  margin: 0 auto;
}
.page header {
  margin-bottom: 20px;
}
.page .container {
  position: relative;
}
.page .container aside {
  width: 320px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.page .container .content {
  width: 870px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}